In [75]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

1-qadam: Ma'lumotlarni yuklash

In [76]:
data = pd.read_csv("datasets/SMSSpamCollection", sep='\t', names=['label', 'message'])
data

,label,message
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"
...,...,...
5567,spam,"This is the 2nd time we have tried 2 contact u. U have won the £750 Pound prize. 2 claim is easy, call 087187272008 NOW1! Only 10p per minute. BT-national-rate."
5568,ham,Will ü b going to esplanade fr home?
5569,ham,"Pity, * was in mood for that. So...any other suggestions?"
5570,ham,The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free
5571,ham,Rofl. Its true to its name

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

2-qadam: Yorliqlarni raqamli qiymatga o'zgartirish

In [78]:
data['label'] = data.label.map({'ham':0, 'spam':1})
data.head()

,label,message
0,0,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,0,Ok lar... Joking wif u oni...
2,1,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,0,U dun say so early hor... U c already then say...
4,0,"Nah I don't think he goes to usf, he lives around here though"

3-qadam: Ma'lumotlarni o'qitish va test to'plamlariga bo'lish

In [79]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data['message'], 
                                                    data['label'], 
                                                    test_size =0.2, 
                                                    random_state=1)
print('Number of rows in the total set: {}'.format(data.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 5572
Number of rows in the training set: 4457
Number of rows in the test set: 1115

4-qadam: Xabarlarni sonli ko'rinishga o'tkazish

In [80]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()

training_data = count_vector.fit_transform(X_train).toarray()
testing_data = count_vector.transform(X_test).toarray()

Bu yerda CountVectorizer yordamida xabarlar matnini sonli ko'rinishga o'tkaziladi. fit_transform metodi o'qitish to'plamidagi so'zlarni "bag of words" usuli bilan sonli ko'rinishga keltiradi, transform esa test to'plamiga ayni jarayonni qo'llaydi.

6-qadam: Modelni sinash va aniqlikni baholash

In [81]:
model = LogisticRegression(random_state=0)

model.fit(training_data, y_train)
y_pred = model.predict(testing_data)

print('Accuracy score: ', format(accuracy_score(y_test, y_pred)))

Accuracy score:  0.989237668161435

Oxirgi qadamda model test to'plamidagi xabarlarni baholaydi va accuracy_score yordamida aniqlik baholanadi. Bu qiymat test to'plamidagi necha foiz xabar to'g'ri klassifikatsiya qilinganini ko'rsatadi.